<h1><%= @campaign.title %></h1><br>
 
<p>Parties:</p>
<% @campaign.parties.each do |party| %>
  <div> <%= link_to party.name, campaign_party_path(@campaign, party.id) %></div>
<% end %> <br>

 
<%= link_to "New Party", new_campaign_party_path(@campaign) %> <br />

<%= link_to "Back to Campaign", campaign_path(@campaign) %>