<% if @dungeonmasters.size > 0 %>
	<p>These are all the dungeonmasters: </p>
	<ul>
		<% @dungeonmasters.each do |n| %>
			<li><%= n.name %></li>
		<% end %>
	</ul>
<% else %>
	<p>There are no dungeonmasters.</p>	
<% end %>