<h2>New Dungeonmaster Registration</h2>
<% if @dungeonmaster.errors.any? %>
  <% @dungeonmaster.errors.full_messages.each do |error_message| %>
    Error: <%= error_message %> <br />
  <% end %>
<% end %>
<%= render 'form', dungeonmaster: @dungeonmaster %>