<% if @dungeonmaster.party.parties_with_4_or_more.size > 4 %>
	<p>These parties already have four or more adventurers:</p>
	<ul>
		<% @dungeonmaster.parties.parties_with_4_or_more.each do |a| %>
			<li><%= "Title: #{a.title}, Number of Adventurers: #{a.size} Apart of the Campaign: " %><%= link_to( a.campaign.name, dungeonmaster_campaign_path(@dungeonmaster, a.campaign))%></li>
		<% end %>
	</ul>
<% else %>
	<p>You have no parties with more than 4 adventurers.</p>	
<% end %>