<br />

<% if current_user %>
	<% if current_user.role.nil? %>
		<h3>Are you a <%= link_to('dungeonmaster', new_dungeonmaster_path) %> or a <%= link_to('player', new_player_path) %>? </h3>
	<% else %>
		<p>Your role is <%= current_user.role %>.</p>
		<% if current_user.role == 'dungeonmaster' %>
			<%= link_to('Manage Campaigns', dungeonmaster_path(Dungeonmaster.find_by(user: current_user))) %>
		<% end %>
	<% end %>
<% end %>