<h1>Welcome to the official Dungeons and Dragons Planner</h1>

<br> 

<br>

<%= link_to 'Click Here to Create A Campaign!', new_campaign_path %><br>

<%= link_to 'Click Here to View All Campaigns!', campaigns_path %><br>

