<h4>Welcome to the official Dungeons and Dragons Planner!</h4>
<br>
<br>
<p>Please log in or sign up to get started!</p>

<br> 

<br>

<%= link_to 'Click Here to Create A Campaign!', new_campaign_path %><br>
<br>
<%= link_to 'Click Here to View All Campaigns!', campaigns_path %><br>

