<h1><%= @party.name %></h1><br>
 
<p>Characters:</p>
<% @party.characters.each do |character| %>
  <div> <%= link_to character.name, party_character_path(@party, character.id) %></div>
<% end %> <br>

 
Or Create a <%= link_to "New Character", new_party_character_path(@party) %>