<p>
    <strong>First Name:</strong>
    <%= @character.first_name %>
</p>

<p>
    <strong>Last Name:</strong>
    <%= @character.last_name %>
</p>

<%= link_to 'All Characters', characters_path %>

<%= link_to 'New Character', new_character_path %>