<h1>List of All Campaigns</h1>
<br>
<%= link_to 'New Campaign', new_campaign_path %>
<br><br>
<table>
    <tr>
        <th>Title</th>
        <th colspan="1"></th>
    </tr>
    
    <% @campaigns.each do |campaign| %>
        <tr>
            <td><%= campaign.title %></td>
            <td><%= link_to 'Show', campaign_path(campaign) %></td>
            </td>
        </tr>
    <% end %>
</table>